<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC 
  "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
  "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
  
  <hibernate-configuration>
     <session-factory>
  <!-- 配置SQL server 数据库连接 -->  
    <property name="dialect">org.hibernate.dialect.SQLServerDialect</property>    
    <property name="connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
    <property name="connection.url">jdbc:sqlserver://localhost:1433;DatabaseName=WebJamesEmail</property>
    <property name="connection.username">wuguicheng</property>
    <property name="connection.password">230703</property>
        
        <!-- 配置映射文件 -->
        <mapping resource="com/email/models/EmailUser.hbm.xml" />
        <mapping resource="com/email/models/Email.hbm.xml" />
        <mapping resource="com/email/models/Folder.hbm.xml" />
     </session-factory>
  </hibernate-configuration>
